<html>
    <body>
        <form action="login" method="POST">
            <table>
                <tr>
                    <td>Nome do usuario :</td>
                    <td><input name="usuario" type="text" size="30"></td>
                </tr>
                <tr>
                    <td> Senha do cara:</td>
                    <td><input name="senha" type="password" size="30"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input name="enviar" type="submit" id="enviar" value="enviar">
                        <input name="limpar" type="reset" id="limpar" value="limpar">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>